.avatar{
    width: 48px;
    height: 48px;
    background-color: var(--cor-cinza);
    border-radius: 50%;
    /* font-size: 12px; */
    text-align: center;
    display: grid;
    place-content: center;
    color: var(--cor-texto-claro);
}

