*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    height: 100%;
}

body{
    height: 100%;
    display: grid;    
    
}

#main__container{
    height: 100%;
    display: flex;
    
    
}

#left__container{
    height: 100%;
    width: 50%;
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0, 0, 0, 0.2) 100%); 
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#right__container{
    height: 100%;
    width: 50%;
    background: linear-gradient(to bottom,  rgba(254,187,187,1) 0%,rgba(254,144,144,1) 45%,rgba(255,92,92,1) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:white;


}

#bottom__left__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

h1{
    
    font-size: 50px;
    display: flex;
    justify-content: center;
}

p{
    
    margin-bottom: 20px;
    font-size: 35px;
    justify-content: center;
}

button{
    width: 150px;
    border-radius: 28px;
    background-color:#e4685d9b;
	border:1px solid #ffffffd3;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
    font-weight: bolder;
	font-size:15px;
	padding:12px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;
    margin-top: 40px;
}

.signIn__button{
    width: 150px;
    border-radius: 28px;
    background-color:rgba(255, 85, 0, 0.957);
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
    font-weight: bolder;
	font-size:15px;
	padding:12px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;
    margin-top: 10px;
}

img{
    width: 30px;
    margin: 20px;
}

input{
    margin: 5px;
    width: 250px;
    text-align: left;
    padding: 5px;
    border: none;
    background: linear-gradient(to right, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%);
    cursor: pointer;
}

#social__media{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 40px;
    cursor: pointer;

}

.p__password{
    font-size: 20px;
    color: #373636b6;
    margin-top: 40px;
}

.p__account{
    font-size: 15px;
    text-align: center;
    margin-top: 25px;
}


