.minuto__Atual{
    border-radius: 50%;
    background-color: pink;
    width: 40px;
    height: 40px;
    margin-left: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
}