*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: grid;
    place-items: center;
    margin: 9rem;
    
}

h1{
    font-family: Yuji Hentaigana Akari;
}



button{
    margin-top: 15px;
    margin-bottom: 10px;
    width: 10rem;
    height: 2rem;
    text-align: center;
    justify-content: center;
    border-radius: 7px;
    box-shadow: 2px 2px 2px ;
    cursor: pointer;
}

.inputs{
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    
}

label{
    margin-left: 15px;
    font-size: 20px;
    font-weight: bolder;
    
}

input{
    margin: 8px;
    width: 100px;
    
}

.main__content{
    display: grid;
    place-items: center;
}